* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #c7a17a;
    --color-title: #30271c;
    --color-text: #666666;
    --color-bg-gray: #EAE7DE;

    --font-title: 'Oswald', sans-serif;
    --font-italic: 'Merriweather', serif;
    --font-text: 'Open Sans', sans-serif;
}

.title{
    background-image: url("img/blog_main1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 375px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.title div{
    animation: fadeUp .5s ease-in-out;
}
.title p,
.title h1{
    color: var(--color-bg-gray);
}

.line_top{
    height: 2px;
    width: 536px;
    background-color: white;
}
li{
    list-style-type: none;  
  }
  a{
      text-decoration: none;
      color: var(--color-text);
  }
.about_me{
    /* text-align: center;  */
    margin-top: 50px;
}
.about_me h2{
    text-align: center;
}
.about__content--item{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* width: 90%; */
    padding: 0 6rem;
}
.about-img{
    flex: 1;
}
.about-img img{
    width: 300px;
    border-radius: 50%;
}
.line{
    width: 60px;
    height: 2px;
    background-color: #30271c;
}
.footer-top{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;  
}
  
.footer-top li{     
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
      display: none;
}
  
  
.footer-botom{
    display: flex;
    flex-direction: column;
    /* margin-left: 43%; */
    /* padding-left: 43%; */
    padding-bottom: 20px;
    border: none;
    /* border-bottom: 1px solid; */
}
  
.footer-botom li img{
    width: 20px;
    margin-right: 10px;
}
.future{
    flex: 1;
}
.future p{
    font-size: 1.23rem;
}
/*  */
.blog_main{
    margin-top: 50px;
    padding: 6rem;
    background-color: var( --color-bg-gray);
}
.blog_main h2{
    text-align: center;
}
.blog_main--content{
    margin-top: 50px;
}
.blog__list {
    width: 70%;
    margin: 0 auto;
    padding: 6rem 0;
    /* font */
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1.75rem;
}

.blog__img img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.blog__name {
    width: 80%;
    margin: 1.25rem 0;
    color: var(--color-title);
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.blog__desc {
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* gmail */
#abour{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
#abour input {
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px ;
    width: 400px;
    text-align: center;
    outline: none;
    margin-bottom: 50px;
}
.logo-abour img{
    width: 60px;
}
#abour form{
    position: relative;
}
#abour form button{
    border: none;
    position: absolute;
    top: 30px;
}
#abour form button img{
    width: 24px;
}
/* animaino */
@keyframes fadeUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* reponsive */

@media (max-width: 991.98px) { 
    .about__content--item{
        display: block;
        /* flex-wrap: wrap; */
        margin-top: 50px;
        /* width: 90%; */
        padding: 0 6rem;
    }
    .blog_main--content ul{
        display: block;
    }
    .blog__item{
        display: flex;
        flex-wrap: wrap;
    } 
}

@media (max-width: 767.98px) { 
    .about__content--item{
        display: block;
        /* flex-wrap: wrap; */
        margin-top: 50px;
        /* width: 90%; */
        padding: 0 3rem;
    }
    .blog_main{
        margin-top: 50px;
        padding: 3rem;
        background-color: var( --color-bg-gray);
    }
    .blog_main--content ul{
        display: block;
    }
    .blog__item{
        display: flex;
        flex-wrap: wrap;
    }   
}

@media (max-width: 575.98px) {
    .about__content--item{
        display: block;
        /* flex-wrap: wrap; */
        margin-top: 50px;
        /* width: 90%; */
        padding: 0 1rem;
    }
    .blog_main{
        margin-top: 50px;
        padding: 1rem;
        background-color: var( --color-bg-gray);
    }
    .blog_main--content ul{
        display: block;
    }
    .blog__item{
        display: flex;
        flex-wrap: wrap;
    }
}